<div class="header">
    <div class="logo"><a routerLink="/home"><img src="assets/tacohome.png"/></a></div>
    <div class="topbar">
        <div class="topbaritems">
            <div class="topbaritem">
                <a routerLink="/design" class="routerbutton">Design a Taco</a>
            </div>
            <div class="topbaritem">
                <a routerLink="/login" class="routerbutton">Sign in</a>
            </div>
            <div class="topbaritem">
                <a routerLink="/register" class="routerbutton">Register</a>
            </div>
            <div class="topbaritem">
                <a routerLink="/cart" class="routerbutton">Cart</a>
            </div>
        </div>
    </div>
    <div class="bottombar">
        <div class="bottombar">
            <p> TUTAJ BEDA KAFELKI Z RECENT TACO </p>
        </div>
    </div>
</div>